
<input [(ngModel)]="name"  type="text">
<h1>{{name}}</h1>
<h2>{{title}}</h2>
<img [src]="angular">
<button (click)="show()">click me</button>
<div *ngFor="let color of colors; odd as o">
  <p>{{o}} {{color}}</p>
</div>
<div [ngSwitch]="film">
  <div *ngSwitchCase="'arjun reddy'">You picked good movie</div>
  <div *ngSwitchCase="'blue'">You picked red</div>
  <div *ngSwitchCase="'green'">You picked red</div>
  <div *ngSwitchDefault>again type</div>
</div>

<h2 class="text-success">Code volution</h2>
<h2 [class]="successClass">Code volution</h2>
<h2 class="text-special" [class]="successClass">Code volution</h2>
<h2 [class.text-danger]="hasError">Code volution</h2>
<h2 [ngClass]="messageClasses">Code volution</h2>
<h2 [style.color]="hasError? 'red': 'green'">Code volution</h2>
<h2 [style.color]="highColor">code volution</h2>
<h2 [ngStyle]="cssStyle">code volution</h2>

<input  #inputTemp type="text">
<input (click)="logMessage(inputTemp.value)" type="submit">

<router-outlet></router-outlet>